In [174]:
import pandas as pd 
dataset = pd.read_csv("callcenter.csv")

In [175]:
dataset.head()
#dataset.isnull().sum() ##so trata valor nulo em categorico

,idade,profissao,estado_civil,educacao,inadimplente,emprestimo_moradia,emprestimo_pessoal,meio_contato,mes,dia_da_semana,duracao,qtd_contatos_campanha,dias_ultimo_contato,qtd_contatos_total,campanha_anterior,indice_precos_consumidor,indice_confianca_consumidor,euribor3m,resultado
0,56,dona_casa,casado,fundamental_4a,nao,nao,nao,telefone,mai,seg,261,1,999,0,nao_existente,93.994,-36.4,4.857,nao
1,57,servicos,casado,ensino_medio,NaN,nao,nao,telefone,mai,seg,149,1,999,0,nao_existente,93.994,-36.4,4.857,nao
2,37,servicos,casado,ensino_medio,nao,sim,nao,telefone,mai,seg,226,1,999,0,nao_existente,93.994,-36.4,4.857,nao
3,40,admin.,casado,fundamental_6a,nao,nao,nao,telefone,mai,seg,151,1,999,0,nao_existente,93.994,-36.4,4.857,nao
4,56,servicos,casado,ensino_medio,nao,nao,sim,telefone,mai,seg,307,1,999,0,nao_existente,93.994,-36.4,4.857,nao

In [176]:
###separando valor numerico e categ√≥rico

In [177]:
dataset_categorico = dataset[['profissao', 'estado_civil', 'educacao', 'inadimplente', 'emprestimo_moradia', 'emprestimo_pessoal', 'meio_contato', 'mes', 'dia_da_semana', 'campanha_anterior']]
dataset_numerico = dataset[['idade', 'duracao', 'qtd_contatos_campanha', 'dias_ultimo_contato', 'qtd_contatos_total', 'indice_precos_consumidor', 'indice_confianca_consumidor', 'euribor3m']]
dataset_numerico.head()

,idade,duracao,qtd_contatos_campanha,dias_ultimo_contato,qtd_contatos_total,indice_precos_consumidor,indice_confianca_consumidor,euribor3m
0,56,261,1,999,0,93.994,-36.4,4.857
1,57,149,1,999,0,93.994,-36.4,4.857
2,37,226,1,999,0,93.994,-36.4,4.857
3,40,151,1,999,0,93.994,-36.4,4.857
4,56,307,1,999,0,93.994,-36.4,4.857

In [178]:
##tratando erros nulos

In [179]:
for nome_coluna in dataset_categorico.columns:
    dataset_categorico[nome_coluna].fillna('NULO', inplace=True)

C:\Users\Kollinn\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [180]:
dataset_categorico.head()

,profissao,estado_civil,educacao,inadimplente,emprestimo_moradia,emprestimo_pessoal,meio_contato,mes,dia_da_semana,campanha_anterior
0,dona_casa,casado,fundamental_4a,nao,nao,nao,telefone,mai,seg,nao_existente
1,servicos,casado,ensino_medio,NULO,nao,nao,telefone,mai,seg,nao_existente
2,servicos,casado,ensino_medio,nao,sim,nao,telefone,mai,seg,nao_existente
3,admin.,casado,fundamental_6a,nao,nao,nao,telefone,mai,seg,nao_existente
4,servicos,casado,ensino_medio,nao,nao,sim,telefone,mai,seg,nao_existente

In [181]:
dataset_categorico_corrigido = pd.get_dummies(dataset_categorico)
dataset_categorico_corrigido.head()

,profissao_NULO,profissao_admin.,profissao_aposentado,profissao_colarinho_azul,profissao_desempregado,profissao_dona_casa,profissao_empreendedor,profissao_estudante,profissao_gerente,profissao_informal,...,mes_out,mes_set,dia_da_semana_qua,dia_da_semana_qui,dia_da_semana_seg,dia_da_semana_sex,dia_da_semana_ter,campanha_anterior_fracasso,campanha_anterior_nao_existente,campanha_anterior_sucesso
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [182]:
##juntando dados de treinamento

In [183]:
x = pd.concat([dataset_categorico_corrigido, dataset_numerico], axis=1)
x.head()

,profissao_NULO,profissao_admin.,profissao_aposentado,profissao_colarinho_azul,profissao_desempregado,profissao_dona_casa,profissao_empreendedor,profissao_estudante,profissao_gerente,profissao_informal,...,campanha_anterior_nao_existente,campanha_anterior_sucesso,idade,duracao,qtd_contatos_campanha,dias_ultimo_contato,qtd_contatos_total,indice_precos_consumidor,indice_confianca_consumidor,euribor3m
0,0,0,0,0,0,1,0,0,0,0,...,1,0,56,261,1,999,0,93.994,-36.4,4.857
1,0,0,0,0,0,0,0,0,0,0,...,1,0,57,149,1,999,0,93.994,-36.4,4.857
2,0,0,0,0,0,0,0,0,0,0,...,1,0,37,226,1,999,0,93.994,-36.4,4.857
3,0,1,0,0,0,0,0,0,0,0,...,1,0,40,151,1,999,0,93.994,-36.4,4.857
4,0,0,0,0,0,0,0,0,0,0,...,1,0,56,307,1,999,0,93.994,-36.4,4.857

In [184]:
def categorize(valor):
    if valor == 'nao':
        return 0  #nao
    return 1  #sim

In [185]:
y = dataset['resultado'].apply(categorize)
y.head()

0    0
1    0
2    0
3    0
4    0
Name: resultado, dtype: int64

In [186]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [187]:
x_test.reset_index(drop=True, inplace=True)
y_test.reset_index(drop=True, inplace=True)

In [191]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression() #Crio o Modelo
lr.fit(x_train,y_train) #Fa√ßo o Fit do Modelo (Reta)
previsto = lr.predict(x_test) #Predi√ß√£o nos Dados Teste
previsto

array([0.21941537, 0.14737177, 0.0275179 , ..., 0.02564103, 0.00191484,
       0.35053293])

In [201]:
display(y_test)

0        1
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        1
9        0
10       1
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
12327    0
12328    0
12329    0
12330    0
12331    0
12332    0
12333    0
12334    0
12335    0
12336    0
12337    0
12338    1
12339    0
12340    0
12341    0
12342    0
12343    0
12344    0
12345    0
12346    1
12347    0
12348    0
12349    0
12350    0
12351    0
12352    0
12353    1
12354    0
12355    0
12356    1
Name: resultado, Length: 12357, dtype: int64

In [202]:
import pandas as pd
import numpy as np

#serie_prevista = pd.Series((i[0] for i in previsto))
serie_prevista = pd.Series(previsto)
serie_prevista = serie_prevista.apply(categorize)



print ('O erro percentual √©: '+ str((np.count_nonzero(serie_prevista.values!=y_test)/serie_prevista.size)*100))

O erro percentual √©: 9.541150764748725

In [203]:
print('A acuracia: '+str((np.count_nonzero(serie_prevista.values==y_test)/serie_prevista.size)*100))

A acuracia: 90.45884923525126